<h1>Hello <%= @patient.name %></h1>
<h2>You have <%= @patient.appointments.count  %> appointments today:</h2>

<% @patient.appointments.each do |a| %>

  <%= link_to a.doctor.name, doctor_path(a.doctor) %>
  <%= a.appointment_datetime.strftime('%B %d, %Y at %H:%M%p') %><br>
  
<% end %>