<h1>Doctor Appointments</h1>

<% @doctor.appointments.each do |a| %> 
  <p><%= a.appointment_datetime.to_date.strftime("%B %d, %Y at ") + a.appointment_datetime.strftime("%H:%M") %>
  	  	<%= link_to a.patient.name, patient_path(a.patient) %></p>
<% end %>