<h1> Appointment </h1> 
<div> 
    <p><%= @appointment.appointment_datetime.strftime("%B %d, %Y ")%> at <%= @appointment.appointment_datetime.strftime("%k:%M")%></p>
    <p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><p>
    <p><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
</div>