<h2>Appointment</h2>
Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %> 
Date & Time: <%= @appointment.appt_date %> at <%= @appointment.appt_time %>
