<h3>Appointment: <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></h3>
<h4><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h4>
<h4><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h4>
